SERVICE_NAME=admin
SERVICE_PORT=8012
DB_HOST=pgbouncer
DB_SCHEMA=public          # читает все схемы через search_path
DB_USER=htqweb
DB_PASSWORD=change-me
JWT_SECRET=change-me-to-django-secret-key
USER_SERVICE_URL=http://user-service:8005
LOG_LEVEL=INFO
REDIS_URL=redis://redis:6379/0
MONGO_HOST=mongo
MONGO_PORT=27017
MONGO_DATABASE=htqweb_docs
MONGO_USER=htqweb
MONGO_PASSWORD=change-me-mongo
MONGO_URI=mongodb://htqweb:change-me-mongo@mongo:27017/htqweb_docs?authSource=admin
MINIO_ENDPOINT=http://minio:9000
MINIO_CONSOLE_URL=http://localhost:9001
MINIO_ROOT_USER=qa_superadmin@htq.test
MINIO_ROOT_PASSWORD=SuperAdmin!2026
S3_BUCKET=htqweb-media
S3_REGION=us-east-1
SQLADMIN_URL=/sqladmin/
MONGO_ADMIN_URL=/mongo-admin/
